﻿@model SupportDesk.Models.Dashboard.DashboardIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<div>
    <table id="datatable-tickets" class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Title</th>
                <th>Creator</th>
                <th>Creation Date</th>
                <th>Due Date</th>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TicketListItems)
            {
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Title</td>    
                    <td>@item.CreatorName</td>
                    <td>@item.CreateDate.ToString()</td>
                    <td>@item.DueDate.ToString()</td>
                    <td>
                        <button class="btn btn-sm">Claim</button>
                        <button class="btn btn-sm">View</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#datatable-tickets").DataTable();
    });
</script>